body {
    height: 2000px;
    width: 2000px;
  }
  h1 {
    color: #05a;
    font-size: 10rem;
  }
  .z-layer:not(:first-child) {
    color: #0bd;
  }

  h2 {
    color: red;
    font-size: 10rem;
  }
  .z-layer:not(:first-child) {
    color: #0bd;
  }